/* src/assets/styles/components/_intro.scss  */

.intro{
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: -1;
    &.activeBackgroundHome{
        background: url('/assets/images/tc-home-intro-background.jpg') center, no-repeat;
        background-size: cover;
    }
    &.activeBackgroundAbout{
        background: url('/assets/images/tc-apropos-intro-background.jpg') center, no-repeat;
        background-size: cover;
    }
    &.activeBackgroundOffers{
        background: url('/assets/images/tc-nosoffres-intro-background.jpg') center, no-repeat;
        background-size: cover;
    }
    &.activeBackgroundJoinUs{
        background: url('/assets/images/tc-nsrejoindre-intro-background.jpg') center, no-repeat;
        background-size: cover;
    }
    &.activeBackgroundRseIso{
        background: url('/assets/images/tc-home-intro-background.jpg') center, no-repeat;
        background-size: cover;
    }
    &.activeBackgroundContact{
        background: url('/assets/images/tc-home-intro-background.jpg') center, no-repeat;
        background-size: cover;
    }
    &.default{
        background-color: $teksialBlue;
    }
    & .tagTitle{
        background-color: #fff;
        position: absolute;
        padding: 16px 40px 0 0;
        min-width: 21%;
        height: 80px;
        left: 0;
        bottom: 0;
        bottom: 155px;
        box-shadow: -13px 16px 0px #009FE3, 4px 4px 4px rgba(45, 47, 44, 0.25);
        text-align: right;
        &::before {
            content:'';
            background-color: $teksialBlue;
            min-width: 19%;
            height: auto;
            position: relative;
            left: 8px;
            top: 8px;

        }
        & p{
            color: $teksialBlue;
            font-weight: 700;
            font-size: 32px;
            text-transform: capitalize;

        }
        &.disabled {
            display: none;
        }
    }
}