/* src/assets/styles/layout/_general.scss  */

* {
  box-sizing: border-box;
  outline: none;
}
html,
body {
  min-height: 100vh;
}
body {
  font-family: $montserrat;
  color: $teksialGrey;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
  // &:visited {
  //   color: $teksialGrey;
  // }
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

#home,
#about {
  &.section02,
  &.section03,
  &.section04,
  &.section05,
  &.section06,
  &.section07 {
    padding-top: 70px;
    // padding-bottom: 50px;
  }
}
