mixin cardCheck(text='Gestion & pilotage de vos projets IT, Digital & Marketing')
    .cardCheck
        figure
            img(
                src=require('images/tc-apropos-section02-checked.svg')
                alt='picto checking'
            )
        p #{text}